
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600;700&display=swap');

:root{
    --main-color : #333;
   
}
h1,h2,h3,h4,h5,h6, th{
     font-family: 'Poppins', sans-serif;
}

.text-right{
    text-align: right !important;
}

* {
    margin: 0;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

body {
    height: 100vh;
    
    width: 98vw;
    margin: auto;
    color: var(--main-color);
   
   
}

.text-left {
    text-align: left !important;
}

button {
    padding: 4px 8px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 8px;
    margin-right: 5px;

}


button i {
    font-size: 16px;
}

.table_containner {
    border: 1px solid rgb(225, 217, 217);
    border-radius: 10px;
    margin: 10px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: scroll;

}

tr {
    border-bottom: 1px solid rgb(231, 228, 228);
}

td {
    padding: 6px 10px;
}

th {
    text-transform: uppercase;
    padding: 6px 10px;
    font-size: 0.8rem;
}

#app {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

}

#nav {
    padding: 10px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}