
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap');

:root {
    --primary: #e36414;
    --secondary: #e36414;
    --danger: #F70E0E;
    --grey: #8b8b8b;
    --dark: #5f5f5f;
    --black: #000000;
    --white: #ffff;
    --hover: #FB8B24;
    --active: #1D1B31;

    --text: 12px;
    --title: 20px;
}

* {
    margin: 0 auto;
    padding: 0px;
    
}

.header {
    background-color: var(--secondary);
    width: 100%;
    height: 60px;
}

h1,h2,h3,h4,h5,h6, th{
     font-family: 'Poppins', sans-serif;
}

.text-right{
    text-align: right !important;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100vh;
    margin: auto;
    color: var(--main-color);
}


.text-left {
    text-align: left !important;
}

button {
    padding: 4px 8px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 8px;
    margin-right: 5px;

}


button i {
    font-size: 16px;
}

.table_containner {
    border: 1px solid rgb(225, 217, 217);
    border-radius: 10px;
    margin: 10px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: scroll;
}

tr {
    border-bottom: 1px solid rgb(231, 228, 228);
}

td {
    padding: 6px 10px;
}


th {
    text-transform: uppercase;
    padding: 6px 10px;
    font-size: 0.8rem;
    box-shadow: 0 3px 3px -1px rgba(126, 6, 6, 0.4);
    
}

.error{
    color: rgb(215, 28, 28);
    font-style: italic;
}

.container-flex{
    display: flex;
    justify-content: space-evenly;
    
}

